.coundown {
  background-color: $primary-yellow;
  padding: 70px 0 45px;
  &-list {
    @include flex(center, space-between);
    gap: 0 138px;
  }
  &-title {
    font-weight: 600;
    font-size: 44px;
    line-height: 55px;
    text-align: center;
    color: $header-bg;
    margin-bottom: 22px;
  }
  &-desc {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: $text-color;
  }
  @media screen and (max-width: 767.98px) {
    padding: 60px 0 82px;
    &-list {
      flex-direction: column;
      gap: 64px;
    }
  }
}