section.business 
  .container 
    .business-main 
      .business-content 
        h2.g-heading.business-heading Join forces with your favorite business tools
        p.g-text.business-text awareness through email became a must-have, and our ESP wasn't cutting 
        a.button.button--primary.business-button(href="#!") 
          span.business-text-button See imagradtions 
          svg.business-icon(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='#fff')
            path(stroke-linecap='round' stroke-linejoin='round' d='M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3')         
      .business-image 
        img(srcset="./images/img-business.png 2x", alt="")