section.coundown 
  .container 
    .coundown-list 
      +coundownItem("1,700","+","Companies using Sendlance")
      +coundownItem("40","million+","Emails sent daily")
      +coundownItem("20.000","+","Users on sendlance")