section.feature 
  .container 
    .feature-main 
      .feature-bg 
        img(srcset="./images/img-feature2.png 2x", alt="")
      .feature-image 
        img(srcset="./images/img-feature.png 2x", alt="")
      .feature-content 
        h3.g-heading.g-heading--normal.feature-heading Create raving fans that keep buying over and over you get the point.
        p.g-text.feature-text Unlock customer insights to grow your business faster. Store all your customer data collected from storefront to marketing channels in one central hub far easy use in every strategy. 
        p.feature-desc Our open rate has tripled and our click rate on links is up at least 15%.
        a.button.button--secondary.feature-button(href="#!") Learn More
