footer.footer 
  .container 
    .footer-main 
      .footer-logo-mobile 
        img(srcset="./images/img-logo.svg", alt="")
        span.fooer-image-text Type Email
      h2.g-heading.footer-heading See it for yourself
      p.g-text.footer-text Cat in touch with of our compare and take a personal tour of Sraklune
      a.button.button--primary.footer-button 
        span Request a Demo
        svg.footer-icon(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='#fff')
            path(stroke-linecap='round' stroke-linejoin='round' d='M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3')
      .footer-bars
        span
        span
        span
    .footer-content 
      .footer-item 
        .footer-logo 
          img(srcset="./images/img-logo.svg", alt="")
          span.fooer-image-text Type Email
        p.footer-content-middle Best Email marketing firm to build your buiding we are serving since 1987
        p.footer-content-bottom Alex Tower 6 th floor, Redblock State, Sylhet 8100, Bangladesh
      .footer-item 
        h4.footer-title-small About
        .footer-menu 
          each val in ["About Us", "Partnerships Finance", "Experts Project", "Management Product", "Manager","The Team"]
            li.footer-menu-item 
              a.footer-menu-link(href="#!")= val
      .footer-item 
        h4.footer-title-small Resouces
        .footer-menu 
          each val in ["Driving Customers", "Careers", "Blog", "Pricing", "Customer Showcase"]
            li.footer-menu-item 
              a.footer-menu-link(href="#!")= val
      .footer-item 
        h4.footer-title-small Ingraince a partises
        .footer-menu 
          each val in ["Prix:Ion Management","Design I Creative","Ecluearion & Traktirtg UI/UX Cosigners","Dovelelomont ","Customer Support "]
            li.footer-menu-item 
              a.footer-menu-link(href="#!")= val
