section.laibrary 
  .container 
    .laibrary-main 
      h2.g-heading.laibrary-heading Sendlane Resource Library
      p.g-text.laibrary-text Cat in tuch with of our compare and take a personal tour of Sraklune
      .laibrary-tabs
        .laibrary-tab.is-active 
          a.laibrary-button(href="#!") Articles 
        .laibrary-tab 
          a.laibrary-button(href="#!") Ebooks 
        .laibrary-tab 
          a.laibrary-button(href="#!") Products 
      .laibrary-content 
        .laibrary-list.is-active
          .laibrary-item 
            .laibrary-image 
              img(srcset="./images/img-laibrary1.png 2x", alt="")
            .laibrary-info 
              a.laibrary-link(href="#!") Email Marketing
              h3.laibrary-title Now to Grow lbw Email List 5 Email
          .laibrary-item 
            .laibrary-image 
              img(srcset="./images/img-laibrary2.png 2x", alt="")
            .laibrary-info 
              a.laibrary-link(href="#!") Real-time anylitics
              h3.laibrary-title Now to Grow lbw Email List 5 Email
          .laibrary-item 
            .laibrary-image 
              img(srcset="./images/img-laibrary3.png 2x", alt="")
            .laibrary-info 
              a.laibrary-link(href="#!") Marketing Autonation
              h3.laibrary-title Now to Grow lbw Email List 5 Email
        .laibrary-list
          .laibrary-item 
            .laibrary-image 
              img(srcset="./images/img-laibrary7.png 2x", alt="")
            .laibrary-info 
              a.laibrary-link(href="#!") Email Marketing
              h3.laibrary-title Now to Grow lbw Email List 5 Email
          .laibrary-item 
            .laibrary-image 
              img(srcset="./images/img-laibrary8.png 2x", alt="")
            .laibrary-info 
              a.laibrary-link(href="#!") Real-time anylitics
              h3.laibrary-title Now to Grow lbw Email List 5 Email
          .laibrary-item 
            .laibrary-image 
              img(srcset="./images/img-laibrary9.png 2x", alt="")
            .laibrary-info 
              a.laibrary-link(href="#!") Marketing Autonation
              h3.laibrary-title Now to Grow lbw Email List 5 Email
        .laibrary-list
          .laibrary-item 
            .laibrary-image 
              img(srcset="./images/img-laibrary4.png 2x", alt="")
            .laibrary-info 
              a.laibrary-link(href="#!") Email Marketing
              h3.laibrary-title Now to Grow lbw Email List 5 Email
          .laibrary-item 
            .laibrary-image 
              img(srcset="./images/img-laibrary5.png 2x", alt="")
            .laibrary-info 
              a.laibrary-link(href="#!") Real-time anylitics
              h3.laibrary-title Now to Grow lbw Email List 5 Email
          .laibrary-item 
            .laibrary-image 
              img(srcset="./images/img-laibrary6.png 2x", alt="")
            .laibrary-info 
              a.laibrary-link(href="#!") Marketing Autonation
              h3.laibrary-title Now to Grow lbw Email List 5 Email
      a.button.button--secondary.laibrary-button(href="#!")
        span.laibrary-btn See Update
        svg.laibrary-icon(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='#fff')
            path(stroke-linecap='round' stroke-linejoin='round' d='M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3')

