section.newsletter 
  .container
    .newsletter-content
      h2.g-heading More than just drips and newsletters
      p.g-text awareness through email became a must-have, and our ESP wasn't cutting
    .newsletter-main 
      .newsletter-bg 
        img(srcset="./images/img-newsletter-bg.png 2x", alt="")
      .newsletter-info 
        .newsletter-top
          h3.newsletter-title Drive 30-40% of your revenue with email marekiting
          p.newsletter-desc Unlock customer insights to grow your business faster. Store all your customer data collected from storefront to marketing channels in one central hub far easy use in every strategy. 
        .newsletter-list 
          +newsletterItem("./images/img-newsletter-icon1.png 2x","Marketing Automation","From open rates to conversion performance, get access to tons of data.","Read More", "is-active")
          +newsletterItem("./images/img-newsletter-icon2.png 2x","Experiments","From sign up to sale track your contacts every move.","Read More")
      .newsletter-banner 
        img(srcset="./images/img-newsletter.png 2x", alt="")
