section.service 
  .container 
    h2.g-heading.service-heading Our some service
    .service-list 
      +serviceItem("./images/img-service-icon1.png", "Email Marketing","Set up standing order in-app, and send money to any other bank account instantly")
      +serviceItem("./images/img-service-icon2.png", "SMS Marketing","Manage your account from your phone or computer. Do everything you need from the app.","is-active")
      +serviceItem("./images/img-service-icon3.png", "Intellegent pop ups","Your bank account lets you easily lock your card in the app, and later reorder it witha tap of a button")