section.testmonial 
  .container 
    .testmonial-main 
      h2.g-heading.testmonial-heading See what our customer have to say
      .testmonial-container
        .testmonial-content 
          .testmonial-image 
            img(srcset="./images/img-testmonial.png 2x", alt="")
          .testmonial-info 
            p.testmonial-text "New 2022, we sent a few email blasts with MailChimp here and there, but it wasn't a focus. Once we shiftedaway from retail-only sales to eCornmerce soles, driving customer awareness through email became a must-have, and our ESP wasn't cutting 
            .testmonial-quotes 
              span.testmonial-job Lello Mhoury. Crecter of Marketing
              .testmonial-quote
                img(srcset="./images/img-quote.png 2x", alt="")
            .testmonia-rating 
              .testmonial-star 
                img(srcset="./images/img-star.png 2x", alt="")
              span.testmonial-count 4.5 Rating Capture
        .testmonial-content 
          .testmonial-image 
            img(srcset="./images/img-testmonial2.png 2x", alt="")
          .testmonial-info 
            p.testmonial-text "New 2022, we sent a few email blasts with MailChimp here and there, but it wasn't a focus. Once we shiftedaway from retail-only sales to eCornmerce soles, driving customer awareness through email became a must-have, and our ESP wasn't cutting 
            .testmonial-quotes 
              span.testmonial-job Lello Mhoury. Crecter of Marketing
              .testmonial-quote
                img(srcset="./images/img-quote.png 2x", alt="")
            .testmonia-rating 
              .testmonial-star 
                img(srcset="./images/img-star.png 2x", alt="")
              span.testmonial-count 4.5 Rating Capture
        .testmonial-content 
          .testmonial-image 
            img(srcset="./images/img-testmonial3.png 2x", alt="")
          .testmonial-info 
            p.testmonial-text "New 2022, we sent a few email blasts with MailChimp here and there, but it wasn't a focus. Once we shiftedaway from retail-only sales to eCornmerce soles, driving customer awareness through email became a must-have, and our ESP wasn't cutting 
            .testmonial-quotes 
              span.testmonial-job Lello Mhoury. Crecter of Marketing
              .testmonial-quote
                img(srcset="./images/img-quote.png 2x", alt="")
            .testmonia-rating 
              .testmonial-star 
                img(srcset="./images/img-star.png 2x", alt="")
              span.testmonial-count 4.5 Rating Capture